* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Alatsi', sans-serif;
}

main {
  width: 100%;
  height: 100vh;
}

.lamp-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.left-overlay {
  width: 50vw;
  height: 100%;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
}

.chair-img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  right: 50%;
}

.right-overlay {
  width: 50vw;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.right-overlay-inner {
  width: 100%;
  height: 100%;
  position: relative;
}

.bottom-box {
  width: 200px;
  height: 150px;
  background: #2b2b2b;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}

.icon {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center-text {
  width: 100%;
  height: 50%;
  position: relative;
}

.text-lines {
  width: 50%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#number {
  font-size: 5rem;
  color: #e0e0e0;
}

#description {
  font-size: 2rem;
}

#shop-now {
  font-size: 0.75rem;
}

#left-bar {
  height: 100%;
  width: 40%;
  background: black;
}

#right-bar {
  height: 50%;
  width: 40%;
  background: black;
}

#right-overlay-top-line {
  font-size: 0.75rem;
}

.right-overlay-text-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}

#right-overlay-bottom-arrow {
  color: #595959;
}
